/*common*/
*{
    overflow-scrolling:touch;
    -webkit-overflow-scrolling:touch;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  	margin: 0;
  	padding: 0;
  	font-family: sans-serif;
    font-weight: 200;
    border:none;
}
input, textarea{
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
    outline: none;
    resize: none;
}
.submitBtn{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    text-align: center;
    border-radius: 6px;
}
.btn>span{
    display: block;
    text-align: center;
    flex-grow: 1;
    font-size: 16px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    border-radius: 6px;
}
.btn.Primary{
    background: #026277;
    color: #FFF;
}
.btn.Primary:active{
    background: #064e5e;
}
.btn.Warning{
    background: #fe8802;
    color: #FFF;
}
.btn.Warning:active{
    background: #e07b08;
}
.btn.login{
    background: #72aaff;
}
.btn.login:active{
    background: #3479e1;
}
.AppContainer{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    background: #EEE;
}
.AppPage{
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}
.formStyle1 {
    background: #FFF;
    flex-shrink: 0;
}
.formStyle1 .weui-label img{
    width: 24px;
    margin-right: 10px;
}
.formStyle1 .weui-cell{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.formStyle1 .weui-cell .weui-label{
    display: flex;
    align-items: center;
}
.formStyle1 .weui-cell .weui-label > span{
    font-size: 14px;
    color: #666666;
}
.formStyle1 .weui-cell .weui-cell__bd{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.formStyle1 .weui-cell .weui-cell__bd > div{
    flex-grow: 1;
}
.formStyle1 .weui-cell .weui-cell__bd > span{
    margin-left: 10px;
}
.formStyle1 .weui-cell .weui-cell__bd input{
    text-align: right;
}
.formStyle1 .weui-cell .weui-cell__bd .weui-select{
    direction: rtl;
}
.formStyle1 .weui-cell.weui-check__label .weui-check:checked+.weui-icon-checked:before{
    content: '\EA06';
    color: #3479e1;
    font-size: 23px;
}
.formStyle1 .weui-cell.weui-check__label .weui-icon-checked:before{
    content: '\EA01';
    color: #c9c9c9;
    font-size: 23px;
    display: block;
}
.formStyle1 .weui-cell.weui-check__label .weui-cell__bd >div{
    text-align: right;
}

/*color*/
.blue {
    color: #3479e1
}
.green {
    color: #64c600
}
.gray{
    color: #999;
}
.color_warning{
    color: #f49d05;
}
.color_error{
    color: #C00;
}

.contentTitle{

}
/*footer*/
.footer{
    height: 53px;
    flex-shrink: 0;
}
.footer .weui-tab{
    height: 53px;
}
.footer .weui-tabbar{
    background: #FFF;
}
.footer .weui-tab .weui-tab__panel{
    display: none;
}
.footer .weui-tabbar__item.weui-bar__item_on .weui-tabbar__label{
    color: #3479e1;
}
.footer .addBorrowLnk {
    margin-top: -40px;
    z-index: 1000;
}
.footer .addBorrowLnk .weui-tabbar__icon{
    height: 60px;
    width: 60px;
    background: #3479e1;
    color: #FFF;
    border-radius: 60px;
    margin-bottom: 6px;
    border:4px solid rgba(255,255,255,.4);
    position: relative;
}
.footer .addBorrowLnk .weui-tabbar__icon:before{
    content: "";
    width: 40px;
    height: 4px;
    position: absolute;
    left: 10px;
    top: 28px;
    background: #FFF;
}
.footer .addBorrowLnk .weui-tabbar__icon:after{
    content: "";
    width: 4px;
    height: 40px;
    position: absolute;
    left: 28px;
    top: 10px;
    background: #FFF;
}
.footer .weui-tabbar__item.weui-bar__item_on .weui-tabbar__label{
    color: #999;
}

/*banner广告图片*/
.swiper-slide img{
    max-width: 100%;
    display: flex;
}

/**/
.pageTitle{
    height:40px;
    display: flex;
    align-items: center;
    background: #FFF;
    flex-shrink: 0;
}
.pageTitle span{
    border-left: 3px solid #3479e1;
    font-size: 14px;
    padding-left: 15px;
    line-height: 24px;
}
.warningBox{
    background: #fffbf2;
    border: 1px solid #f6e0af;
    padding: 15px;
    border-radius: 6px;
    font-size: 12px;
}
.warningBox .tit{
    display: flex;
    align-items: center;
}
.warningBox .tit img{
    width: 20px;
    margin-right: 5px;
    margin-bottom: 4px;
}
.warningBox .text{
    padding-left: 6px;
}
.swiper-container {
    flex-shrink: 0;
}


.AppPage{
    opacity: 1;
    animation:pageshow .4s;
    -webkit-animation:pageshow .4s;
}
@keyframes pageshow{
    from {opacity : .2;}
    to {opacity : 1;}
}
@keyframes showleftnemu{
    from {opacity : 0.7;left: -200px;}
    to {opacity : 1;left: 0;}
}
.leftmenu {
    display: none;
    opacity : 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 2000;
    
}
.leftmenu.showleft{
    display: block;
    left: 0;
    opacity : 1;
    animation:showleftnemu .4s;
    -webkit-animation:showleftnemu .4s;
}

.leftmenu.showleft i{
    display: block;
}
.leftmenu> div{
    position: absolute;
    z-index: 2;
    background: #FFF;
    width: 200px;
    top: 0;
    left: 0;
    bottom: 0;
}
.leftmenu> div .avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 40px 0;
    flex-direction: column;
}
.leftmenu i{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left : 0;
    background: rgba(0,0,0,.3);
    z-index: 1;
    display: none;
}
.leftmenu> div .avatar img{
    width: 60px;
    border-radius: 60px;
    border: 2px solid #EEE;
}
.leftmenu> div .menulist{
    display: flex;
    flex-direction: column;
    line-height: 60px;
    border-top: 1px solid #EEE;
}
.leftmenu> div .menulist >div{
    border-bottom: 1px solid #EEE;
    padding:0 15px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftmenu> div .menulist >div:after{
    content: "";
    height: 10px;
    width: 10px;
    border-left: 2px solid #999;
    border-bottom: 2px solid #999;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(-135deg);
    display: block;
}
.leftmenu> div .menulist >div:active{
    background: #EEE;
}


