.listcontent .licontent{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EEE;
    padding: 5px 15px;
    align-items: center;
    background: #FFF;

}
.listcontent .licontent:after{
    content: "";
    height: 10px;
    width: 10px;
    border-left: 2px solid #999;
    border-bottom: 2px solid #999;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(-135deg);
    display: block;
}
.listcontent .licontent:active{
    background: #EEE;
}
.listcontent .licontent .city{
    flex-grow: 1;
}
.listcontent .licontent .city p{
    color: #999;
    font-size: 14px;
}
.listcontent .licontent .city p span{
    margin: 0 5px;
}

.listcontent .licontent .city p span:first-child{
    margin-left: 0;
}
.listcontent .licontent .time{
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #EEE;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.listcontent .licontent .bbtn{
    flex-shrink: 0;
}
.listcontent .licontent .bbtn .btn{
    padding: 0 20px;
    border-radius: 50px;
    height: 30px;
}

.pinchePage{
    display: flex;
    background: #EEE;
    justify-content: space-between;
    flex-shrink: 0;
    flex-direction: column;
    position: relative;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-align-self: flex-start;
    align-self: flex-start;
}
 .pinche{
    padding: 15px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #EEE;
}
 .pinche .city{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .pinche .line{
    height: 4px;
    background: #026277;
    flex-grow: 1;
    position: relative;
    margin: 0 20px;
}
 .pinche .line:after{
    content: "";
    width: 0;
    height: 0;
    border-bottom: 10px solid #026277;
    border-right: 10px solid transparent;
    position: absolute;
    right: -5px;
    bottom: 0;
}
 .pinche .time{
    margin-bottom: 10px;
}
 .pinche .time2{
    margin-top: 10px;
}
 .pinche .time2 span{
    border: 1px solid #DDD;
    border-radius: 6px;
    padding: 0 5px;
    color: #999;
    margin-right: 8px;
    font-size: 14px;
}
.pinchePage .nli span{
    color: #026277;
    font-size: 14px;
}
.pinchePage .iconBtn{
    margin-right: -5px;
}



.carpoolPage .listcontent{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    background: #FFF;
    flex-grow: 1;
}
.carpoolPage .listcontent .licontent{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EEE;
    padding: 5px 15px;
    align-items: center
}
.carpoolPage .listcontent .licontent .city{
    flex-grow: 1;
}
.carpoolPage .listcontent .licontent .city p{
    color: #999;
    font-size: 14px;
}
.carpoolPage .listcontent .licontent .city p span{
    margin: 0 5px;
}

.carpoolPage .listcontent .licontent .city p span:first-child{
    margin-left: 0;
}


.carpoolPage .listcontent .licontent .time{
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #EEE;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
}
.carpoolPage .listcontent .licontent .bbtn{
    flex-shrink: 0;
}
.carpoolPage .listcontent .licontent .bbtn .btn{
    padding: 0 20px;
    border-radius: 50px;
    height: 30px;
}

.pincheindexPage .contactlist{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #EEE;
    padding: 10px 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #FFF;
    border-top: 1px solid #EEE;
}
.pincheindexPage .contactlist:active{
    background: #EEE;
}
.pincheindexPage .contactlist:after{
    content: "";
    height: 10px;
    width: 10px;
    border-left: 2px solid #999;
    border-bottom: 2px solid #999;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(-135deg);
    display: block;
}