.pageWamp{
    position: relative;
}
.messageCo{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    background: rgba(0,0,0,.5);
}
.ui.message{
    width: 60%;
}