.userorderlistPage .list{
    width: 100%;
}
.userorderlistPage .list .weui-cells{
    margin-top: 0;
    background: none;
}
.userorderlistPage .list .weui-cells .weui-cell .weui-cell__bd >div.tt {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;;
}
.userorderlistPage .list .weui-cells .weui-cell .weui-cell__bd >div.tt span.type{
    border: 1px solid #EEE;
    border-radius: 6px;
    font-size: 12px;
    padding: 1px 5px;
    margin-left: 5px;
    color: #999
}
.userorderlistPage .list .weui-cells .weui-cell .weui-cell__bd >div.tt span.status{
    
}
.userorderlistPage .list .weui-cells .weui-cell .weui-cell__bd >div.tt span.i{
    background: #83cb7a;
    border-radius: 0 20px 20px 0;
    padding: 0 10px;
    line-height: 24px;
    color: #FFF;
    margin-right: 10px;
}
.userorderlistPage .list .weui-cells .weui-cell .weui-cell__bd >div.tt span.j{
    background: #fe8802
}
.userorderlistPage .list .weui-cells .weui-cell .weui-cell__bd >div.li{
    margin-left: 10px;
}
.userorderlistPage .list .weui-cells .weui-cell .weui-cell__bd div.li.a:before,
.userorderlistPage .list .weui-cells .weui-cell .weui-cell__bd div.li.b:before{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin-right: 5px;
}
.userorderlistPage .weui-cell:before{
    content: none;
}
.userorderlistPage .list .weui-cells .weui-cell{
    margin:10px;
    margin-bottom: 0;
    background: #FFF;
    border-radius: 6px;
    font-size: 14px;
    padding: 0;
    padding-bottom: 10px;
}
.userorderlistPage .list .weui-cells .weui-cell .weui-cell__bd .a:before{
    border: 1px solid #1aae66;
}
.userorderlistPage .list .weui-cells .weui-cell .weui-cell__bd .b:before{
    border: 1px solid #f45a28;
}
.userorderlistPage .list .weui-cells .weui-cell .weui-cell__ft:after{
    width: 12px;
    height: 12px;
    border-width: 1px 1px 0 0;
    margin-top:15px;
    margin-right: 15px;
}
.userorderlistPage .pinchelistli{
    padding-left: 15px;
}






