.baseinfoPage{

}
.baseinfoPage .avatar{
	height: 50px;
	flex-grow: 1;
	display: flex;
	width: auto;
}
.baseinfoPage .avatar .weui-cell__bd{
	flex-grow: 1;
}
.baseinfoPage .weui-cell.avatar .weui-cell__ft img{
    width: 40px;
    border-radius: 50%;
    display: flex;
}
.baseinfoPage .f{
    text-align: center;
    line-height: 40px;
}