.userorderinfoPage{

}
.userorderinfoPage #newNavHeadContent.newNavHeadContent{
    border-bottom: 1px solid #EEE;
}
.userorderinfoPage .orderinfohead{
    display: flex;
    background: #FFF;
    justify-content: space-between;
    padding: 15px;
    flex-shrink: 0;
    flex-direction: column;
    position: relative;
}
.userorderinfoPage .orderinfohead:after{
    content: "";
    height: 6px;
    width: 100%;
    position: absolute;
    bottom: -6px;
    left: 0;
    background: url("../newimg/34.png") repeat-x left bottom;
    background-size: 10px 6px;
}
.userorderinfoPage .orderinfohead {

}
.userorderinfoPage .orderinfohead .pinche{
    display: flex;
    flex-direction: column;
}
.userorderinfoPage .orderinfohead .pinche .city{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userorderinfoPage .orderinfohead .pinche .line{
    height: 4px;
    background: #0180ff;
    flex-grow: 1;
    position: relative;
}
.userorderinfoPage .orderinfohead .pinche .line:after{
    content: "";
    width: 0;
    height: 0;
    border-bottom: 10px solid #0180ff;
    border-right: 10px solid transparent;
    position: absolute;
    right: -5px;
    bottom: 0;
}
.userorderinfoPage .orderinfohead .pinche .time{
    margin-bottom: 10px;
}
.userorderinfoPage .orderinfohead .pinche .time2{
    margin-top: 10px;
}

.userorderinfoPage .promptcenter{
    padding: 15px;
    color: #888;
    text-align: center;
}

.userorderinfoPage .information{
    background: #FFF;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.userorderinfoPage .information .tit{
    font-size: 18px;
    margin-bottom: 8px;
}
.userorderinfoPage .information .cont{
    text-align: center;
}

.userorderinfoPage .orderinfohead .pinche .time2 span{
    border: 1px solid #DDD;
    border-radius: 6px;
    padding: 0 5px;
    color: #999;
}
.userorderinfoPage .orderinfohead .pinche .city .start,
.userorderinfoPage .orderinfohead .pinche .city .end{
    margin:  0 15px;
    font-size: 22px;
}
.userorderinfoPage .orderinfohead .driver{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    position: relative;
    z-index: 2
}
.userorderinfoPage .orderinfohead .driver .info{
    flex-grow: 1;
}
.userorderinfoPage .orderinfohead .driver .call{
    display: flex;
    align-items: center;justify-content: center
}
.userorderinfoPage .orderinfohead .driver .call img{
    width: 32px;
    margin-right: 5px;
}
.userorderinfoPage .pageContent{
    flex-grow: 1;
    overflow: scroll;
}
.userorderinfoPage .orderinfohead img.avatar{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-right: 10px;
}
.userorderinfoPage .address{
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    flex-grow: 1;
}
.userorderinfoPage .orderinfohead img.phone{
    width: 40px;
    margin-left: 10px;
}
.userorderinfoPage .address>div{
    display: flex;
    align-items: center;
}
.userorderinfoPage .busslist>div{
    display: flex;
    align-items: center;
    color: #888;
}
.userorderinfoPage .busslist>div img{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.userorderinfoPage .hottag{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px 0 10px 15px;
}
.userorderinfoPage .hottag span{
    line-height: 24px;
    padding: 0 10px;
    border-radius: 24px;
    border: 1px solid #CCC;
    color: #999;
    margin-right: 15px;
    margin-bottom: 10px;
}
.userorderinfoPage .hottag span.sel{
    background: #3479e1;
    color: #FFF;
    border-color: #3479e1;
}

.userorderinfoPage .address>div:before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 10px;
    flex-shrink: 0;
    align-self: flex-start;
    margin-top: 6px;
}
.userorderinfoPage .address>div:first-child:before{
    border: 1px solid #02ae62;
}
.userorderinfoPage .address>div:last-child:before{
    border: 1px solid #f55716;
}
.userorderinfoPage .weui-loadmore_line .weui-loadmore__tips{
    background: #EEE;
}
.userorderinfoPage .weui-loadmore.weui-loadmore_line{
    margin-bottom: 0;
}
.userorderinfoPage .content .price{
    width: 100%;
    display: block;
    font-size: 18px;
    text-align: center;
}
.userorderinfoPage .PanelBox{
    margin: 0 20px;
    margin-bottom: 20px;
    background: #FFF;
    border-radius: 6px;
    padding: 15px;
    flex-shrink: 0;
}
.userorderinfoPage .pricelist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userorderinfoPage .pricelist .tit{
    margin-bottom: 10px;
}
.userorderinfoPage .pricelist .list{
    width: 100%;
}
.userorderinfoPage .pricelist .list p{
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 1px solid #EEE

}
.userorderinfoPage .pricelist .list p span{
    display: block;
}


.userorderinfoPage .tt{
    text-align: center;
    line-height: 50px;
    color: #999;
    color: #007fff;
    border: 1px solid #007fff;
    width: 70%;
    text-align: center;
    background: #FFF;
    line-height: 30px;
    background: #FFF;
    border-radius: 100px;
    display: inline-block;
    margin-bottom: 10px;
    display: block;
    margin: auto;
}
.userorderinfoPage .evaluate{
    background: #FFF;
    justify-content: center;
    font-size: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.userorderinfoPage .evaluate .text{
    font-size: 16px;
    color: #666;
}
.userorderinfoPage .getMoney{
    display: flex;
    justify-content: center;
    align-items: center;
}
.userorderinfoPage .getMoney span{
    color: #007fff;
    border:1px solid #007fff;
    width: 70%;
    text-align: center;
    background: #FFF;
    line-height: 30px;
    background: #FFF;
    border-radius: 100px;
    display: inline-block;
    margin-bottom: 10px;
    display: block;
}


.userorderinfoPage .cancelorder{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    padding-top: 20px;
    flex-grow: 1;
    align-self: stretch;
}
.userorderinfoPage .cancelorder >img{
    width: 50px;
    margin-bottom: 15px;
}
.userorderinfoPage .cancelorder .tit{
    font-size: 16px;
    color: #333;
}
.userorderinfoPage .cancelorder .reason{
    color: #999;
}
.userorderinfoPage .cancelorder .btn{
    border: 1px solid #007eff;
    border-radius: 30px;
    height: 30px;
    line-height: 30px;
    color: #007eff;
    padding: 0 20px;
    margin: 15px 0;
}

.addevaluate {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.2);
    bottom: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: -300px;
    display: none;
    opacity: 0;
}
.addevaluate.show{
    display: flex;
    z-index: 10000;
    opacity: 1;
    transform: translate3d(0px, -300px, 0px); 
    -moz-transform: translate3d(0px, -300px, 0px); 
    -webkit-transform: translate3d(0px, -300px, 0px); 
    transition-duration: 1000ms;
    -moz-transition-duration: 1000ms; /* Firefox 4 */
    -webkit-transition-duration: 1000ms; /* Safari å’Œ Chrome */
}

@keyframes showaddevaluate{
    from {margin-bottom:-200px}
    to {margin-bottom: 0}
}
@-webkit-keyframes showaddevaluate {
    from {margin-bottom:-100px}
    to {margin-bottom: 0}
}


.addevaluate .wamp{
    background: #FFF;
    display: flex;
    flex-direction: column;
}
.addevaluate .wamp .tit{
    position: relative;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}
.addevaluate .wamp .tit img.close{
    position: absolute;
    width: 20px;
    top: 5px;
    right: 5px;
}
.addevaluate .wamp .star{
    font-size: 30px;
    align-self: center;
    height: 48px;
    width: 152px;
    margin: auto;
}
.addevaluate .wamp .text .weui-cells{
    margin-top: 0;
}
.addevaluate .wamp .text .weui-cells:before{
    content: none;
}
.addevaluate .wamp .text .weui-cells .weui-cell__bd,
.addevaluate .wamp .text .weui-cells_form textarea{
    background: #EEE;
    border-radius: 6px;
}
.addevaluate .wamp .text .weui-cells_form textarea{

    border-radius: 6px;
}
.addevaluate .wamp .text .weui-cells_form .weui-cell__bd div{
    padding:10px;
    padding-bottom: 5px;
}
.addevaluate .wamp .text .weui-textarea-counter{
    padding-right: 10px;
}
.addevaluate .wamp .text .btn{
    margin: 0 15px 15px 15px;
}